@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Rubik', sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 5px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: #090909;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: #e62121;    /* цвет плашки */


}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: #000
}

.header {
  flex: 0 0 auto;
}

.menu {
  flex: 0 0 auto;
  background: rgba(37, 30, 30, 0.46);
  backdrop-filter: blur(50px);
}

#__next {
  width: 100%;
  height: 100%;
}

.cookie_banner {
  background: rgba(0, 0, 0, 0.46);
  backdrop-filter: blur(7.5px);
}

.active_link {
  color: #FF4545;
  position: relative;
  /*height: 35px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  animation: ease-in-out;
}

.active_link:after {
  transition: all .3s;
  content: "";
  /*position: absolute;*/
  bottom: 0;
  width: 40px;
  height: 5px;
  border-radius: 10px;
  background-color: rgba(255, 69, 69, 0.44);
  animation: ease-in-out;

}

/* colors bannaer sliders */

.slide {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg_one {
  background: linear-gradient(268.91deg, #FB1A1A 0%, #322EFF 100%);
}

.bg_two {
  background: linear-gradient(268.91deg, #35b66d 0%, #322EFF 100%);
}

.bg_three {
  background: linear-gradient(268.91deg, #35b66d 0%, #ffb62e 100%);
}

.bg_four {
  background: linear-gradient(268.91deg, #35b6b6 0%, #7b2eff 100%);
}

.gradient-text {
  background: linear-gradient(271.06deg, #0976C6 0%, #26B066 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  backdrop-filter: blur(2px);
}

.slider-thumb::before {
  content: "";
  width: 350px;
  height: 350px;
  background: linear-gradient(227.63deg, rgb(197, 239, 207) 7.2%, rgb(12, 123, 188) 7.21%, rgb(32, 164, 121) 87.74%);
  filter: blur(50px);
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape 5s linear infinite;
}

@keyframes sliderShape{
  0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
    border-radius: 50% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
  80%{
    border-radius: 60% 40% 80% 100% / 100% 30% 10% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

.left-mark {
  color: rgb(32, 164, 121);
  font-size: 18px;
}

.right-mark {
  color: rgb(12, 123, 188);
  font-size: 18px;
}

.mail-link {
  font-size: 14px;
}
